
<div class="widget_wrap">
    <ul id="menu_4_ul" style="z-index:9999;">
        <li>
            <a href="{:U('Home/Shop/index',array('shop'=>$_SESSION['wapShop']))}" data-fx="Modulefx">
                <span class="wicon-home">&nbsp;</span>
                <p>首页</p>
            </a>
        </li>

        <li>
            <a href="{:U('Home/Goods/goodsClass')}" data-fx="Modulefx">
                <span class="wicon-mark">&nbsp;</span>
                <p>分类</p>
            </a>
        </li>

        <li class="li3">
            <a href="{:U('Home/PersonalCenter/index')}" data-fx="Modulefx">
                <span class="wicon-info">&nbsp;</span>
                <p>分销中心</p>
            </a>
        </li>

        <li>
            <a href="{:U('Home/Order/orderList')}" data-fx="Modulefx">
                <span class="wicon-file">&nbsp;</span>
                <p>我的订单</p>
            </a>
        </li>

        <li>
            <a href="{:U('Home/Order/buyCar')}" data-fx="Modulefx">
                <span class="wicon-cart">&nbsp;</span>
                <p>购物车</p>
            </a>
        </li>

    </ul>
</div>