<meta charset="utf-8">
<title>{$title}</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta name="Keywords" content="{$mataKeyWords}">
<meta name="Description" content="{$mataKeyDis}">
<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<link href="__PUBLIC__/Home/Css/reset.css" rel="stylesheet">
<link href="__PUBLIC__/Home/Css/common.css" rel="stylesheet">

<script type="text/javascript" src="__PUBLIC__/Home/Js/jquery-1.9.1.js"></script>
<script src="__PUBLIC__/Home/Js/com.js"></script>