<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>绿叶软件科技 & blank_page</title>
    <include file='Public:publicHeader' />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Store/Css/global.css" media="all" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Store/Css/style.css" media="all" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Store/Css/order_remind.css" media="all" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Store/Css/content.css" media="all" />
</head>
<body>
<include file='Public:publicTop' />
<section id="page">
    <include file='Public:publicCat' />
    <div id="main-content">
        <div class="container">
            <div class="row">
                <div id="content" class="col-lg-12">
                    <include file='Public:publicNotice' />
                    <!-- /PAGE HEADER -->
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- SIMPLE STRIPED -->
                            <div class="row">
                                <div class="col-md-12 ">
                                    <!-- BOX -->
                                    <div class="box border blue">
                                        <include file='Public:publicTitle' />
                                        <!-- 右边内容-->											
                                        <div id="mainss" class="main" style="height: 969px; padding-top: 1px;">
                                            <div class="contentbox">
                                                <table cellspacing="2" cellpadding="5" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <th colspan="15" align="left"><span style="float:left">实体商品列表</span></th>
                                                        </tr>
                                                        <tr>
                                                            <th align="right" colspan="15">
                                                                <img src="__PUBLIC__/Store/Image/goods/icon_search.gif" alt="SEARCH" width="26" border="0" height="22" align="absmiddle" />
                                                                <select name="cat_id" id='cat_id'>
                                                                    <option value="0">所有分类</option>
                                                                        <volist name='classInfo' id='classItem'>
                                                                            <option value="{$classItem.id}">{$classItem.name}</option>
                                                                            <if condition="$classItem.next neq '' ">
                                                                                <volist name='classItem.next' id='class'>
                                                                                    <option value="{$class.id}">{$class.name}</option>
                                                                                </volist>
                                                                            </if>
                                                                        </volist>
                                                                </select>

                                                                <select name="is_goods_attr" id='is_goods_attr'>
                                                                    <option value="0">全部</option>
                                                                    <option value="1">上架</option>
                                                                    <option value="2">下架</option>
                                                                    <option value="hot">热销</option>
                                                                    <option value="new">新品</option>
                                                                    <option value="recommend">推荐</option>
                                                                </select>
                                                                关键字 <input name="keyword" size="15" type="text" value="" />
                                                                <input value=" 搜索 " name='search' type="button" />
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th width="60"><label>选择</label></th>
                                                            <th>所在分类</th>
                                                            <th>商品图</th>
                                                            <th style="width:225px;">标题</th>
                                                            <th>销售价格</th>
                                                            <th>采购价</th>
                                                            <th>市场价</th>
                                                            <th>折扣价</th>
                                                            <th>分销利润</th>
                                                            <th>上架</th>
                                                            <th>热销</th>
                                                            <th>新品</th>
                                                            <th>推荐</th>
                                                            <th>录入时间</th>
                                                            <th>操作</th>
                                                        </tr>
                                                        <volist name='goodsListArray' id='item'>
                                                            <tr>
                                                                <td><input type="checkbox" name="quanxuan" value="{$item.id}" class="gids"></td>
                                                                <td>{$item.name}</td>
                                                                <td><img src="{:getUploadUrl($item['small_img'])}" width="60" /></td>
                                                                <td>{$item.title}</td>
                                                                <td><span>{$item.price}</span></td>
                                                                <td><span>{$item.purchase_price}</span></td>
                                                                <td><span>{$item.market_price}</span></td>
                                                                <td><span>{$item.discount_price}</span></td>
                                                                <td><span>{$item.distribution_price}</span></td>
                                                                <td><img <if condition="$item.status eq '1'"> src="__PUBLIC__/Store/Image/goods/yes.gif" <else/> src="__PUBLIC__/Store/Image/goods/no.gif" </if> alt="0" class="activeop" lang="sale" rel='{$item.id}'></td>
                                                                <td><img <if condition="$item.is_hot eq '1'"> src="__PUBLIC__/Store/Image/goods/yes.gif" <else/> src="__PUBLIC__/Store/Image/goods/no.gif" </if> alt="0" class="activeop" lang="hot" rel='{$item.id}'></td>
                                                                <td><img <if condition="$item.is_new eq '1'"> src="__PUBLIC__/Store/Image/goods/yes.gif" <else/> src="__PUBLIC__/Store/Image/goods/no.gif" </if> alt="0" class="activeop" lang="new" rel='{$item.id}'></td>
                                                                <td><img <if condition="$item.is_recommend eq '1'"> src="__PUBLIC__/Store/Image/goods/yes.gif" <else/> src="__PUBLIC__/Store/Image/goods/no.gif" </if> alt="0" class="activeop" lang="best" rel='{$item.id}'></td>
                                                                <td>{:dateformat($item['add_time'],'Y-m-d')}</td>
                                                                <td>
                                                                    <a href="{:U('Store/Goods/goodsAdd', array('id'=>$item['id']))}" title="编辑">
                                                                        <img src="__PUBLIC__/Store/Image/goods/icon_edit.gif" title="编辑" />
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </volist>
                                                        <tr>
                                                            <td colspan="15"> <input type="checkbox" class="quxuanall" value="checkbox">
                                                                <input type="button" name="button" value="批量下架" class="bathdel" id="bathdel">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type='text/javascript'>
    $(function () {
        //查询
        $("input[name='search']").click(function(){
            var classId = $('#cat_id').val();
            var status = $('#is_goods_attr').val();
            var keywords = $("input[name='keyword']").val();
            window.location.href = "{:U('Store/Goods/goodsList')}&classId="+classId+'&status='+status+'&keywords='+keywords;
        });
        
        $('.activeop').click(function () {
            var classId = $(this).attr('rel');
            var act = $(this).attr('lang');
            $.post("{:U('Store/Goods/changeGoodsStatus')}", {'act':act,'goodsId': classId}, function (data) {
                data = eval(data);
                if (data['error'] == '0') {
                    alert('修改状态成功！');
                    window.location.reload();
                } else {
                    alert(data['msg']);
                }
            });
        });

        $('.quxuanall').click(function () {
            if (this.checked == true) {
                $("input[name='quanxuan']").each(function () {
                    this.checked = true;
                });
            } else {
                $("input[name='quanxuan']").each(function () {
                    this.checked = false;
                });
            }
        });

        $('#bathdel').click(function () {
            if (confirm("确定删除吗？将会删除下级分类！考虑清楚了吗？")) {
                var arr = [];
                $('input[name="quanxuan"]').each(function () {
                    arr.push($(this).val());
                })
                var str = arr.join('+');
                $.post("{:U('Store/GoodsBrand/delClassStatus')}", {'str': str}, function (data) {
                    data = eval(data);
                    alert(data['msg']);
                });
            }
        });
    });
</script>
</body>
</html>