<!DOCTYPE html>
<html>
    <head>
        <include file='Public:header' />
        <link href="__PUBLIC__/Home/Css/article.css" rel="stylesheet">
    </head>
    <body onselectstart="return true;" ondragstart="return false;">
        <div data-role="container" class="body article">
            <header data-role="header">
                <img src="./photos/0.jpg" style="width:100%" />
            </header>
            <section data-role="body">
                <article class="article">
                    <h3>绿叶科技分销系统</h3>
                    <div class="titlediv">
                        <div class="border"></div>
                        <div class="title"></div>
                        <div class="border right"></div>
                    </div>
                    <div class="content">
                        <p class="MsoNormal" style="background-color:#FFFFFF;">
                            <span style="color:#1F1813;font-family:微软雅黑;line-height:30px;background-color:#FFFFFF;">绿叶科技分销系统将传统直销模式与微信实现完美结合，创新出的一种全新的商业模式，打破传统的消费模式，让消费者消费的同时也能参与到商品的利润分配中。如下：绿叶科技分销系统将每件商品拿出50的销售利润，采用三级（一级15%、二级10、三级5%）分化的返利政策，让消费者、经营者相互均受益。 1、您只需在绿叶科技分销系统商城里购买满99元商品，即可成为绿叶科技分销系统的微客（消费商也即东家），系统将自动生成您独立的个人链接ID及二维码图片； 2、凡是通过您的链接ID或二维码成功关注绿叶科技分销系统并购买的会员，成为您的一级微客（假设A），系统直接回馈产品价格15%的“返佣”； 3、凡是通过您的一级微客A的链接ID或二维码成功关注并购买的会员，成为您的二级微客(假设B)的同时，您还将获得回馈产品价格10%的“返佣”； 4、凡是通过您二级微客B的链接ID或二维码成功关注绿叶科技分销系统并购买的会员，成为您的三级微客（假设C）的同时，您还将获得回馈产品价格5%的“返佣”。</span>					</p>
                    </div>
                </article>
            </section>
            <footer data-role="footer">
                <div data-role="copyright">
                    <div data-role="copyright" data-copyright="copyright1" class="copyright1">
                        <div class="widget_wrap">
                            <ul class="tbox">
                                <li>
                                    <p class="box" style="padding-top:10px;">
                                        <a href="themeOne.html">店铺首页</a>
                                        <a href="usercenter.html">会员中心</a>
                                        <a href="about.html">关于我们</a>
                                    </p>
                                    <p style="height:50px; padding-top:15px; font-size:1.1em;">
                                        <a href="#">©绿叶科技技术支持</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <include file='Public:footer' />
    </body>
</html>