<!DOCTYPE html>
<html>
    <head>
        <include file='Public:header' />
        <link href="__PUBLIC__/Home/Css/article.css" rel="stylesheet">
    </head>
    <body onselectstart="return true;" ondragstart="return false;">
        <div data-role="container" class="body article">
            <header data-role="header">
                <img src="{:getUploadUrl($_SESSION['shopInfo']['logo'])}" style="width:100%" />
            </header>
            <section data-role="body">
                <article class="article">
                    <h3>{$_SESSION.shopInfo.name}</h3>
                    <div class="titlediv">
                        <div class="border"></div>
                        <div class="title"></div>
                        <div class="border right"></div>
                    </div>
                    <div class="content">
                        {$introduction}
                    </div>
                </article>
            </section>
            <include file='Public:footerIndex' />
        </div>
        <include file='Public:footer' />
    </body>
</html>