<!DOCTYPE html>
<html lang="zh-CN">
    <head>
    <include file='Public:header' />
    <link href="__PUBLIC__/Home/Css/faq.css" rel="stylesheet">
    <script type="text/javascript" src="__PUBLIC__/Home/Js/common.js"></script>
</head>
<body onselectstart="return true;" ondragstart="return false;">
    <div data-role="container" class="container faq">
        <div class="body">
            <header data-role="header"></header>
            <section data-role="body" class="body">
                <div>
                    <ul id="list_ul" class="list_ul" ontouchstart="" onselectstart="return false;">
                        <volist name='newsList' id='item'>
                            <li class="question">
                                <dl>
                                    <dt id="article_1001">{$item.title}？</dt>
                                    <dd>{$item.content}</dd>
                                </dl>
                            </li>
                        </volist>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <script>
        $(function () {
            $(".question").click(function () {
                $(this).find("dd").toggle(function () {
                    alert('a');
                }, function () {

                });
            });
        });

        function onBridgeReady() {
            WeixinJSBridge.call('showOptionMenu');
        }

        if (typeof WeixinJSBridge == "undefined") {
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            } else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        } else {
            onBridgeReady();
        }
    </script>
</body>
</html>