<!DOCTYPE html>
<html lang="zh-CN">
    <head>
    <include file='Public:header' />
    <link href="__PUBLIC__/Home/Css/home.css" rel="stylesheet" />
    <link href="__PUBLIC__/Home/Css/widget_menu.css" rel="stylesheet" />
    <script src="__PUBLIC__/Home/Js/swipe_min.js"></script>
</head>
<body onselectstart="return true;" ondragstart="return false;" style="">
    <div data-role="container" class="container home">
        <header data-role="header">
        </header>
        <section data-role="body" class="body" style="min-height: 768px;">
            <!--轮播图 start-->
            <div data-role="widget" data-widget="slider_1_120145" class="slider_1">
                <section class="widget_wrap">
                    <div id="slider_1_wrap_120145" class="slider_1_wrap" style="visibility: visible;">
                        <ul style="list-style: none; width: 7680px; transition: -webkit-transform 0ms; -webkit-transition: -webkit-transform 0ms; -webkit-transform: translate3d(-2560px, 0px, 0px);"><!--before-->
                            <volist name="bannerList" id="item">
                            <li style="width: 100%; display: table-cell; vertical-align: top;">
                                <a data-fx="Modulefx" <if condition="$item.url neq '' "> href="$item.url" <else />href="javascript:void(0)"</if>>
                                    <img style="max-height:35%;" src="{:getUploadUrl($item['banner_img'])}" />
                                </a>
                            </li>
                            </volist>
                        </ul>
                        <div id="slider_1_indicate_120145" class="slider_1_indicate">
                            <span class="on">&nbsp;</span>
                            <span class="">&nbsp;</span>
                            <span class="">&nbsp;</span>
                            <span class="">&nbsp;</span>
                            <span class="">&nbsp;</span>
                        </div>
                    </div>
                </section>
            </div>
            <!--轮播图 end-->

            <!--导航 start-->
            <div data-role="widget" data-widgt="fn_1" class="fn_1">
                <div class="widget_wrap" style="background-color:#CCCCCC; text-align:center; height:auto;">
                    <marquee width=100% scrollamount=2 >
                        <p ><font color="#FF0000" size="2" >公告：欢迎来到{$_SESSION['shopInfo']['name']}</font ></p >
                    </marquee >

                    <form id="form1" name="form1" method="get" action="{:U('Home/Goods/goodsSearchList')}">
                        <input id="keywords" name="ks" type="text" placeholder="搜您想要的" style="margin-top:5px; margin-bottom:5px; padding-left:8px; padding-right:8px; width:98%; font-size:14px; border:1px solid #FFFFFF; height:30px; line-height:30px;border-radius:3px; ">
                    </form>
                </div>
            </div>			
            <!--商品列表 start-->
            <volist name='classInfo' id='item'>
            <div class="indexcont" style="margin-top:0;">
                <div>
                    <span>{$item.name} </span>
                    <a href="{:U('Home/Goods/goodsList',array('classId'=>$item['id'], 'type'=>'class'))}">更多</a>
                </div>
            </div>
            <div data-role="widget" data-widget="goodsList_1" class="goodsList_1" style="margin-top:-6px;">
                <div class="widget_wrap">
                    <ul>
                        <volist name='item.goods' id='goodsInfo'>
                        <li>
                            <a href="{:U('Home/Goods/goodsDetail', array('goodsCode'=>$goodsInfo['goods_code']))}">
                                <div>
                                    <img src="{:getUploadUrl($goodsInfo.img)}">
                                </div>
                                <div>
                                    <p class="title">{$goodsInfo.title}</p>
                                    <label class="price">¥ {$goodsInfo.price}</label>
                                </div>
                            </a>
                        </li>
                        </volist>
                    </ul>
                </div>
            </div>
            </volist>
        </section>
        <include file='Public:footerIndex' />
    </div>
    <include file='Public:deadLine' />
    
    <!--返回顶部 start-->
    <div data-widget="tools" data-tools="tools_widget" id="tools_widget" class="tools_widget">
        <div class="widget_wrap">
            <ul class="tools_widget_wrap">
                <li><a href="javascript:;" id="tools_widget_goTop" class="tools_widget_goTop hidden" style="display: none;">
                        顶部</a> </li>
                <li id="tools_kfli" style=" display:none;">
                    <a href="#" id="tolls_widget_message" class="tolls_widget_message">客服</a> 
                </li>
            </ul>
        </div>
    </div>
    <div data-role="widget" data-widget="widget_40" id="widget_dialog_1500" class="dialog_guid dialog_guid_follow_authentication on topTip" style="z-index: 1500;">
        <div class="widget_wrap" style="z-index: 1500;">
            <ul class="tbox" style="z-index: 1550;">
                <li><span class="img_wrap">
                        <img src="{$_SESSION['user']['headimgurl']}" />
                    </span></li>
                <li style="width: 100%;">
                    <p>
                        尊敬的{$_SESSION['user']['nickname']}，您还不是微客，成为微客还可以分享赚钱哦</p>
                </li>
                <li>
                    <div style="width: 110px; text-align: right;">
                        <a href="weike.html">
                            成为微客</a><a href="javascript:;" class="close" onclick="$('.topTip').hide();">&nbsp;
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        var slider_1 = (function () {
            var that = {};
            that.initSlider = function () {
                that.slider = new Swipe(document.getElementById('slider_1_wrap_120145'), {
                    speed: 500,
                    loop: true,
                    auto: 3000,
                    indicate: "#slider_1_indicate_120145"
                });
                return that;
            }
            return that;
        })().initSlider();
    </script>
    <script type='text/javascript'>
        $(document).keydown(function (e) {
            var curKey = e.which;
            if (curKey == 13) {
                var keywords = $('#keywords').val();
                if ($.trim(keywords) == '') {
                    return false;
                }
                document.form1.submit();
            }
        });
    </script>
</body>
</html>