<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>我的钱包</title>
<link rel="stylesheet" type="text/css" href="./css/wallet.css">

<script type="text/javascript" src="./js/jquery-1.9.1.js"></script>
<script src="./js/com.js"></script>
<script src="./js/hide.js"></script>
</head><iframe id="__WeixinJSBridgeIframe_SetResult" style="display: none;"></iframe><iframe id="__WeixinJSBridgeIframe" style="display: none;"></iframe>

<body>
<div id="map">
	<!--头部-->
<header>
    	<nav>
       	  <table border="0" cellspacing="0">
                	<tbody><tr>
                    	<td rowspan="2" align="right" class="left_icon"><img src="./images/icon03.png"></td>
                        <td class="menu">我的钱包</td>
                    </tr>
                	<tr>
                    	<td class="p">您的所有佣金收入都在这里哦！</td>
                    </tr>
                </tbody></table>
        </nav>
    </header>
    <!--头部内容结束-->
    <!--内容部分-->
    <section>
   	  <table border="0" cellpadding="0" cellspacing="0">
        	<tbody><tr>
            	<td>
                    <a href="moneyue.html"><div class="border_bottom">
                        <dl class="aa">
                            <dt>账户余额（元）</dt>
							                            <dd><p><span>￥0.</span>00</p></dd>
                        </dl>
                    </div></a>
                </td>
                <td>
                    <div class="border_bottom border_bottom1">
                        <a href="dqrmoney.html"><dl class="bb">
                            <dt>待确认金额（元）</dt>
                            <dd><p><span>￥0.</span>00</p></dd>
                        </dl></a>
                    </div>
                </td>
            </tr>
            <tr>
            	<td>
                	<a href="summoney.html"><dl class="aa">
                    	<dt>累计收入（元）</dt>
                        <dd><p><span>￥0.</span>00</p></dd>
                    </dl></a>
                </td>
                <td>
                	<a href="tixianmingxi.html"><dl class="bb">
                    	<dt>提现记录（元）</dt>
                        <dd><p><span>￥0.</span>00</p></dd>
                    </dl></a>
                </td>
            </tr>
            <tr>
            	<td colspan="2"><a href="tixianjilu.html"><p class="but">申请提现</p></a></td>
            </tr>
        </tbody></table>
</section>
    <!--内容部分结束-->
</div>

</body></html>