<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>绿叶软件科技 & blank_page</title>
        <include file='Public:publicHeader' />
        <link rel="stylesheet" href="css/common.css" type="text/css" />
</head>
<body>
<include file='Public:publicTop' />
<section id="page">
    <include file='Public:publicCat' />
    <div id="main-content">
        <div class="container">
            <div class="row">
                <div id="content" class="col-lg-12">
                    <include file='Public:publicNotice' />
                    <!-- /PAGE HEADER -->
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- SIMPLE STRIPED -->
                            <div class="row">
                                <div class="col-md-12 ">
                                    <!-- BOX -->
                                    <div class="box border blue">
                                    <include file='Public:publicTitle' />
                                        <!-- 右边内容-->											
                                        <div id="man_zone">
                                            <table>
                                                <tr>
                                                    <th>产品总数：</th>
                                                    <td><font color="#FF0000">{$goodsCount}</font>个</td>
                                                    <th>推荐商品数：</th>
                                                    <td><font color="#FF0000">{$recommendGoodsCount}</font>个</td>
                                                </tr>
                                                <tr>
                                                    <th>上架产品数：</th>
                                                    <td><font color="#FF0000">{$onlineGoodsCount}</font>个</td>
                                                    <th>下架产品数：</th>
                                                    <td><font color="#FF0000">{$offlineGoodsCount}</font>个</td>
                                                </tr>
                                                <tr>
                                                    <th width="15%">订单数量：</th>
                                                    <td><font color="#FF0000">{$orderCount}</font>个</td>
                                                    <th width="15%">成功订单数量：</th>
                                                    <td><font color="#FF0000">{$successOrderCount}</font>个</td>
                                                </tr>
                                                <tr>
                                                    <th width="15%">使用的操作系统：</th>
                                                    <td>{$oprationSystem}</td>
                                                    <th width="15%">当前的浏览器：</th>
                                                    <td>{$browser}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>