<div id="sidebar" class="sidebar">
    <div class="sidebar-menu nav-collapse">
        <div class="divide-20"></div>
        <ul>
            <volist name='cat' id='catItem'>
                <li class="has-sub">
                    <a <if condition="$catItem['url'] neq '' ">href="{$catItem.url}" <else /> href="javascript:void(0);" </if>class="">
                        <i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">{$catItem.name}</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <volist name="catItem.next" id="catlog">
                            <li class="has-sub-sub">
                                <a href="{$catlog.url}" class=""><span class="sub-menu-text">{$catlog.name}</span>
                                    <span class="arrow"></span>
                                </a>
                            </li>
                        </volist>
                    </ul>
                </li>
            </volist>
        </ul>
    </div>
</div>