<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Store/Css/frame/css/cloud-admin.css" >
<link rel="stylesheet" type="text/css"  href="__PUBLIC__/Store/Css/frame/css/default.css" id="skin-switcher" >
<link rel="stylesheet" type="text/css"  href="__PUBLIC__/Store/Css/frame/css/responsive.css" >
<link href="__PUBLIC__/Store/Css/frame/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Store/Css/frame/css/daterangepicker-bs3.css" />
<script type="text/javascript" src="__PUBLIC__/Store/JS/frame/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Store/JS/frame/js/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Store/JS/frame/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Store/JS/frame/js/moment.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Store/JS/frame/js/daterangepicker.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Store/JS/frame/js/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Store/JS/frame/js/slimScrollHorizontal.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Store/JS/frame/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Store/JS/frame/js/script.js"></script>
<script>
    jQuery(document).ready(function () {
        App.setPage("widgets_box");  //Set current page
        App.init(); //Initialise plugins and elements
    });
</script>